.container {
  margin-bottom: 0.5em;
}

.label {
  display: inline-block;
  margin-bottom: 0.2em;
}

.container select {
  width: 100%;
  padding: 0 20px 0 10px;
  height: 35px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #c6c7c9;
  border-radius: 5px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
